---
import Footer from "../components/layout/Footer.astro"
import Header from "../components/layout/Header.astro"
import { languages } from "../i18n"
import '../styles/global.css'

const base = import.meta.env.BASE_URL

type Lang = 'es' | 'en'
interface Props {
  lang: Lang
}

const { lang } = Astro.props as Props
const t = languages[lang]
---

<!doctype html>
<html lang={lang}>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/image.png" href={`${base}image.png`}/>
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={ "Portfolio de Adrian Camilo Osorio - Desarrollador Full Stack especializado en soluciones financieras y plataformas móviles."} />
    <slot name="seo" />
    <title>Adrian Camilo Osorio</title>
  </head>
  <body>
    <Header nav={t.nav} />
    <main>
      <slot />
    </main>
    <Footer nav={t.nav} social={t.socialNetwork} links={t.footerLinks}/>
  </body>
</html>
