---
import Footer from "../components/layout/Footer.astro"
import Header from "../components/layout/Header.astro"
import { languages } from "../i18n"
import '../styles/global.css'

const base = import.meta.env.BASE_URL

type Lang = 'es' | 'en'
interface Props {
  lang: Lang
}

const { lang } = Astro.props as Props
const t = languages[lang]
---

<!doctype html>
<html lang={lang} class="scroll-smooth">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/png" href="image.png"/>
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={ "Portfolio de Adrian Camilo Osorio - Desarrollador Full Stack especializado en soluciones financieras y plataformas móviles."} />
    <slot name="seo" />
    <title>Adrian Camilo Osorio</title>
  </head>
  <body class="bg-white antialiased">
    <Header navLinks={t.navLinks} />
    <main>
      <slot />
    </main>
    <Footer social={t.socialNetwork} links={t.footerLinks}/>
  </body>
</html>
